<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712148613943-gh532nbothp760fn8ee86881qqvsife6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712148613943-gh532nbothp760fn8ee86881qqvsife6</string>
	<key>API_KEY</key>
	<string>AIzaSyBE1ET9RwUBN5W9w-qL_mqLaCG19S5PP0E</string>
	<key>GCM_SENDER_ID</key>
	<string>712148613943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.parcial42565882012</string>
	<key>PROJECT_ID</key>
	<string>parcial4-b2211</string>
	<key>STORAGE_BUCKET</key>
	<string>parcial4-b2211.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712148613943:ios:0e723591731b9b31a438b2</string>
</dict>
</plist>